@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
  padding: 0;
  margin: 0;
  font-family: var(--font-montserrat);
}
button:focus-visible {
  outline: none;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.containerImage video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.containerImage {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */

  /* z-index: 1; */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100vh; */
  background-size: cover;
  background-position: center;
  /* / transition: transform 1s ease-in-out; / */
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 1;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 15.66%),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.82) 0%,
      rgba(0, 0, 0, 0.68) 33.89%,
      rgba(0, 0, 0, 0) 62.1%
    );
}

.animate-exit {
  animation: exitToLeftTop 800ms ease-out forwards;
}

.animate-enter {
  animation: enterFromRightBottom 800ms ease-out forwards;
}

/* para section */

.main-inner {
  position: absolute;
  /* top: 50%; */
  /* bottom: 50%; */
  left: 0;
  z-index: 11;
  width: 100%;
}

.headCont {
  position: absolute;
  z-index: 11;
  top: 47%;
  bottom: 53%;
}

.headContTwo {
  position: absolute;
  top: 57%;
  bottom: 43%;
  /* left: 10px; */
  z-index: 11;
}
.headContThree {
  position: absolute;
  /* top: 50%; */
  bottom: 25%;
  /* left: 10px; */
  min-height: 35px;
  z-index: 11;
}
.sub-headContThree {
  position: absolute;
  /* top: 57%; */
  bottom: 32%;
  min-height: 35px;
  z-index: 11;
}

.hidden {
  display: none;
}

.header-enter {
  animation: fadeInUp 1s ease-out forwards;
}
.header-exit {
  animation: fadeOutUp 1s ease-out forwards;
}

.headerThree-enter {
  animation: comeInUp 800ms ease-out forwards;
}
.headerThree-exit {
  animation: comeOutUp 800ms ease-out forwards;
}

.serialCount {
  position: absolute;
  top: 80%;
  bottom: 20%;
  right: 5%;
  min-height: 35px;
  z-index: 11;
}

.serialCount p {
  color: #fff;
  font-size: 66px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 121.212% */
  font-family: var(--font-teko);
 
}

button {
  z-index: 1111;
  cursor: pointer;
}

.main-heading {
  color: #fff;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0;
  margin: 0;
}
.heading2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-family: var(--font-montserrat);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-decoration-line: underline;
}
.heading3 {
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;
   font-family: var(--font-montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;

}


@keyframes exitToLeftTop {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(-100%, -100%);
    opacity: 0;
  }
}
@keyframes enterFromRightBottom {
  from {
    transform: translate(100%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    /* / transform: translateY(-100%); / */
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    /* / transform: translateY(-100%); / */
  }
  to {
    opacity: 1;
    /* / transform: translateY(0); / */
  }
}

@keyframes comeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes comeInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.next-btn {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 60px;
  border: #fff;
  z-index: 11;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.btnRotate {
  animation: rotateUp 1s ease-out forwards;
}

.contact-details{
  font-family: var(--font-montserrat);
}

.contact-details svg{
  fill : white
} 
@keyframes rotateUp {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(-180deg);
  }
}

/* Media query for smaller screens */
@media (max-width: 1800px) {
  .main-heading {
    font-size: 90px;
  }
}

@media (max-width: 1500px) {
  .main-heading {
    font-size: 80px;
  }
  .next-btn {
    height: 40px;
    width: 40px;
  }
  .heading2 {
    font-size: 31px;
  }
  .heading3 {
    font-size: 14px;
  }
  .serialCount p {
    font-size: 35px;
  }
  .main-head2{
    font-size:78px;
  }
  
}

@media (max-width: 1200px) {
  .main-heading {
    font-size: 70px;
  }
  .background {
    height: 100vh;
  }
  .containerImage {
    height: 100vh;
  }

  .main-head2{
    font-size:62px;
  }
}

@media (max-width: 786px) {
  .main-heading {
    font-size: 50px;
  }
  .containerImage {
    background: linear-gradient(291deg, rgba(0,0,0,1) 0%, rgba(40,40,40,1) 22%, rgba(45,45,45,1) 39%, rgba(71,71,71,1) 68%, rgba(105,105,105,1) 100%, rgba(3,0,104,1) 100%, rgba(0,212,255,1) 100%);
  }
  .containerImage video{
    height:auto;
  }
  .headCont{
    bottom:40%;
    top:60%;
  }
  .headContTwo{
    bottom:30%;
    top:65%;
  }
  .headContThree{
    bottom:20%;
  }
}

@media (max-width: 520px) {
  .main-heading {
    font-size: 35px;
  }
}

@media (max-width: 639.3px) {
  .contact-details svg{
    fill : black
  }
}
